In [4]:
print('Primeiro programa')
1 \
 + 2

Primeiro programa

3

In [6]:
1 + 1 + 1
4 + 4

8

In [7]:
print(1 + 1 + 1)
print(4 + 4)

3
8

# Tipos Básicos

In [13]:
print(True)#bool
print(False)#bool
print(1, 2 + 1.1)#int/float
print('Aspas simples')#str
print("Aspas cheia")#str
print('Contatenar é ' + 2 * 'muito ' + 'fácil')#contatenando str + int
# print(3 + '3') -> ambíguidade não funciona!
print([1, 2, 3])#lista: Estrutura de índice a partir do 0, armazena dados.
print({'nome': 'Pedro', 'idade': 22})#dicionário: Estrutura 'Chave : valor'
print(None)#ausência de valor

True
False
1 3.1
Aspas simples
Aspas cheia
Contatenar é muito muito fácil
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [15]:
a = 10
b = 5.2

print(a + b)

a = 'Agora -a- é uma string'
print(a)

# print(a + b) não rola!

15.2
Agora -a- é uma stringe

# Comentários

In [19]:
# Minhas variáveis
salario = 3350.45
despesas = 2456.2

"""
A ideia é calcular
o quanto vai sobrar 
no final do mês! 
"""
print(salario - despesas)

#print('fim')
print('Fim de verdade')

894.25
Fim de verdade

# Operadores Aritméticos

In [23]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)#toda divisão em Python é do tipo float
print(9.4 // 3)#Quando ambos os valores são inteiros o tipo também será inteiro
print(2 ** 8)
print(10 % 3)

a = 12
b = a
print(a - b)

5
-3
10.6
3.1333333333333333
3.0
256
1
0

# Desafio

In [29]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

porcentual = (despesas* 100)/salario
print('As despesas representam {:.1f}% do salário'.format(porcentual))

As despesas representam 71.2% do salário

# Operadores Relacionais

In [35]:
print(3 > 4)
print(4 >= 3)
print(1 < 2)
print(3 <= 1)
print(3 != 2) #!= é 'diferente'
print(3 == 3) #== é 'igual a'
print(3 == '3')

False
True
True
False
True
True
False

# Operadores de Atribuição

In [50]:
a = 3
print(a)

a = a + 7
print (a)

a += 3 # a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 2
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 255
print(a)

3
10
13
10
20
10.0
2.0
256.0
1.0

# Operadores Lógicos

In [65]:
"""
Os operadores lógicos realizam operações
sobre um ou dois valores booleano sendo
eles os "and, or, xor, not, nand etc "
"""
#Tabela verdade do AND

print(True and False)
print(False and True)
print(True and True)

print(True and True and True and True)
print(True and True and True and False)

False
False
True
True
False

In [68]:
#Tabela verdade do OR

print(True or True)
print(False or False)
print(True or False)

print(False or False or False or False)
print(False or False or False or True)

True
False
True
False
True

In [74]:
#Tabela verdade do XOR

True != True
True != False
False != False
False != True

True

In [ ]:
#Operação de negação (unário)

not True
not False

not 0
not 1

In [73]:
#Cuidado! Operador Lógico != de Operador Bit-a-Bit

True & False
False | True
True ^ False

"""
No Bit-a-Bit se calcula com Bits (1 e 0). 
O número 3 no exemplo vai receber 1-1, já o
2, 1-0. A operação é feita somando o número de cima
Ex: 3 &(e) 2 == 1 + 1 = 1, 1 + 0 = 0 -> 10 que é = 2
"""

# AND Bit-a-Bit
# 3 = 11
# 2 = 10
# _ = 10 ('_' é "resultado")
3 & 2

#OR Bit-a-Bit
#  3 = 11
# 2 = 10
# _ = 11
3 | 2

#XOR Bit-a-Bit
#3 = 11
# 2 = 10
# _ = 01
3 ^ 2

#Um pouco de realidade

saldo = 1000
salario = 4000
despesa = 2967

"""
A meta é o saldo ser positivo e o dinheiro que 
sobrou ser maior do que 20%(0.2) dentro do salário.
"""

saldo_positivo = saldo > 0 
despesa_controlada = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas

meta

1

In [ ]:
"""
Sistema True/False funcionam a partir de resultados
de Verdadeiro/Falso ou de sim e não. Podendo ser usado
para uma série de condições de 'and' (E) e 'or' (OU). 
Ex: Eu vou ao shopping quando o dia está 
ensolarado E tenho dinheiro na carteira.
O dia ta ensolarado? Falso. 
Tenho dinheiro? Verdadeiro.
Resultado: Falso (não).
Logo, não irei ao shopping.
"""
# exemplo básico
print('Ensolarado' == 'Chuvoso' and 'Tenho din din' == 'Tenho din din')
print('Ensolarado' == 'Ensolarado' and 'Tenho din din' == 'Tenho din din')

# Desafio

In [10]:
trabalho_terca = True
trabalho_quinta = False

"""
-Confirmando os 2: TV 50' + sorvete.
-Confirmando 1: TV 32' + sorvete.
-Nenhum confirmando: Fica em casa.
"""

tv_50 = trabalho_terca and trabalho_quinta 
print('Comprar uma TV 50?', tv_50)

tv_32 = trabalho_terca != trabalho_quinta
print('Comprar uma TV 32?', tv_32)

sorvete = trabalho_terca or trabalho_quinta
print('Tomar sorvete?', sorvete)

saude = not sorvete 
print('Ter saúde?', saude)

Comprar uma TV 50? False
Comprar uma TV 32? True
Tomar sorvete? True
Ter saúde? False

# Operadores Unários

In [7]:
a = 3
print(a)
# a++
a += 1
print(a)
# a--
a -= 2
print(a)
++a 
print(a)
#não altera nada
--a
print(a)
#não altera nada
-a

not 0 #verdadeiro
not 1 #falso
not -2 #qlqr número diferente de 0 é falso
not False #verdadeiro

3
4
2
2
2

True

# Operadores ternários

In [19]:
esta_chuvendo = True

print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo]) 
print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

# Mais operadores

In [29]:
print('Operadores de Membro')
lista = [1, 2, 3, 'Ana', 'Carla']
print(2 in lista)
print('Ana' not in lista)

print('Operador de identidade numéricos')

x = 3
y = x
z = 3

print(x is z)
print(y is z)
print(x is not z)

print('Operador de identidade não numéricos')

'''
Como x, y e z são valores numéricos, são iguais.
Mas isso não se aplica às listas, pois mesmo que recebam valores iguais,
não serão iguais, já que serão duas listas diferentes. 
'''
lista_a = [1, 2, 3]
lista_b = [1, 2, 3]
lista_c = lista_a

print(lista_a is lista_b) #False, valores iguais, mas listas diferentes
print(lista_b is lista_c) #False, valores iguais, mas listas diferentes
lista_c is lista_a #True, pois c recebe a 'lista_a' e não seus valores

Operadores de Membro
True
False
Operador de identidade numéricos
True
True
False
Operador de identidade não numéricos
False
False

True

# Builtins

In [35]:
# type()
type(1)
__builtins__.type('Fala galera!')
__builtins__.print(10 / 3)

__builtins__.help(__builtins__.dir)

3.3333333333333335
Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

# Conversão de Tipos

In [6]:
2 + 3
'2' + '3'
# 2 + '3'

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

<class 'int'>
<class 'str'>
5
23

# Coerção Automática

In [14]:
10 / 2
print(type(10 / 2))
10 // 3
print(type(10 // 3))
10 // 3.3
print(type(10 // 3.3))
print(2 + True)
print(type(2 + True))
print(2 + False)

<class 'float'>
<class 'int'>
<class 'float'>
3
<class 'int'>
2

int

# Tipos Numéricos

In [28]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

print(type(a))
print(type(b))
print(type(a - b))

print(b.is_integer())
#is integer -> 'É um inteiro?' Não do tipo 'int', mas sem casas decimais
print(5.0.is_integer()) #É do tipo float mas não tem casa decimaL. Inteiro

print(int.__add__(2, 3)) 
#2 + 3
print((-2).__abs__())
#abs(-2)

<class 'int'>
<class 'float'>
<class 'float'>
False
True
5
2

In [39]:
1.1 + 2.2 
'''
Como podemos ver, há uma imprecisão no resultado
da conta. Isso se dá ao fato de que, para a melhora
do desempenho, usa-se uma especificação de conta menos
precisa, porém mais ágil. Caso queira contas mais precisas
basta importar a biblioteca 'decimal'.
'''

3.3000000000000003

In [71]:
from decimal import Decimal, getcontext

getcontext().prec = 2

print(Decimal(1.1) + Decimal(2.2))

getcontext().prec = 4
print(Decimal(10) / Decimal(3))
Decimal.max(Decimal(1), Decimal(7)) #Maior decimal, no caso Decimal(7)

3.3
3.333

Decimal('7')

# Tipos String

In [85]:
dir(str)
nome = 'Saulo Pedro'
nome
print(nome [0], nome[6])
# nome [0] = 'p', não aceita atribuição

#'Marca d'água'. 

"""
Dá erro de sintexe pela falto do '\' para 
especificar q o ' faz parte do texto.
"""

"Dias d'água" == 'Dias d\'água' #Repare que usei "" em um e '' no outro.

"Teste \"oia\" funciona"

texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """ Textp com múltiplas
. . . linhas"""
doc
print('Textos com múltiplas\n\t... linhas')

S P
Textos com múltiplas
	... linhas

In [94]:
nome = 'Ana Paula' #funciona com índice, começando do zero. Então vai do 0 á 8
print(nome[0])
print(nome[6])
print(nome[-3]) # de tras para frente
print(nome[4:])
print(nome[-5:])
print(nome[:3])
print(nome[2:5])

print(nome[::-1])

numero = '1234567890'
print(numero[::])
print(numero[::2])
print(numero[1::2])

print(numero[::-1])

A
u
u
Paula
Paula
Ana
a P
aluaP anA
1234567890
13579
24680
0987654321

##### Operadores mebros!

In [106]:
frase = 'Python é uma linguagem excelente!'
print(frase)
print('py' in frase) #cuidado com maiúsculo e minúsculo!

'rt' not in frase

len(frase)

print('py' in frase.lower())

frase = frase.upper()
print(frase)

print(frase.split())
print(frase.split('A'))

Python é uma linguagem excelente!
False
True
PYTHON É UMA LINGUAGEM EXCELENTE!
['PYTHON', 'É', 'UMA', 'LINGUAGEM', 'EXCELENTE!']
['PYTHON É UM', ' LINGU', 'GEM EXCELENTE!']

In [114]:
a = '123'
b = ' de oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

True

# Listas

In [144]:
lista = []
print(lista)

type(lista)
dir(lista)
#help(lista)

print(len(lista))

lista.append(1)
lista.append(5)
print(lista)
print(len(lista))

nova_lista = [1, 5, 'Ana', 'Bia'] #Evite usar itens de diferentes tipos!
print(nova_lista)

nova_lista.remove(5)
nova_lista.remove('Ana')
print(nova_lista)

nova_lista.reverse()
print(nova_lista)

[]
0
[1, 5]
2
[1, 5, 'Ana', 'Bia']
[1, 'Bia']
['Bia', 1]

In [132]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
print(lista[0])
'Pedro' not in lista
print(lista[-1]) #-1 pega o último iten da lista

1
3.1415

In [140]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']

print(lista[1:3])
print(lista[1:-1])
print(lista[1:])
print(lista[:-1])
print(lista[:])
print(lista[::2])
print(lista[::-1])

del lista[2]

print(lista)

del lista[1:]

print(lista)

['Lia', 'Rui']
['Lia', 'Rui', 'Paulo']
['Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Lia', 'Rui', 'Paulo']
['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Rui', 'Dani']
['Dani', 'Paulo', 'Rui', 'Lia', 'Ana']
['Ana', 'Lia', 'Paulo', 'Dani']
['Ana']

In [ ]:
"""
A principal diferença entre uma Tupla e a lista
"""

# Tupla

In [154]:
tupla = tuple()
tupla = ()

print(type(tupla))
dir(tupla)
#help(tupla)

tupla = ('um')
print(type(tupla))

#cuidado!

tupla= ('um',) 
print(type(tupla))

tupla[0]

cores = ('verde', 'amarelo', 'azul', 'branco')

print(cores[0])
print(cores[-1])
print(cores[1:])

cores.index('azul')

cores_2 = ('azul', 'verde', 'amarelo', 'azul', 'azul',)
cores_2.count('azul')
len(cores_2)

<class 'tuple'>
<class 'str'>
<class 'tuple'>
verde
branco
('amarelo', 'azul', 'branco')

5

#### Principais diferenças entre  Lista e Tupla

In [180]:
Lista = [] # A lista usa colchete!
print(type(Lista))

Tupla = tuple() 
Tupla = () # A tupla usa parenteses!
print(type(Tupla))

Lista.append(5) #A lista pode alterar!
print(len(Lista))
print(Lista)
#Tupla.append(5) A tupla não pode alterar!

Tupla = (2)
print(Tupla)
print(type(Tupla)) #Pra ser tupla é preciso colocar ',' dps do 1º item!

<class 'list'>
<class 'tuple'>
1
[5]
2
<class 'int'>

# Dicionários

In [219]:
dicio = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português'] }
print(dicio)

type(dicio)
dir(dicio)
len(dicio)

#Cunsultando dados!

print(dicio['cursos'])
print(dicio['cursos'][1])

print(dicio.keys())
print(dicio.values())

print(dicio.get('cursos'))

#####################################

i = 'senha'
c = 'codinome'

pessoa = {c: ['Surden', 'Mohrnt'], i : [3322, 2244]}
print(pessoa)

type(pessoa)
dir(pessoa)
len(pessoa)

#Cunsultando dados!

print(pessoa[c])
print(pessoa[c][1])

print(pessoa.keys())
print(pessoa.values())

print(pessoa.get(c))

{'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
['Inglês', 'Português']
Português
dict_keys(['nome', 'idade', 'cursos'])
dict_values(['Prof(a). Ana', 38, ['Inglês', 'Português']])
['Inglês', 'Português']
{'codinome': ['Surden', 'Mohrnt'], 'senha': [3322, 2244]}
['Surden', 'Mohrnt']
Mohrnt
dict_keys(['codinome', 'senha'])
dict_values([['Surden', 'Mohrnt'], [3322, 2244]])
['Surden', 'Mohrnt']

In [226]:
n = 'Nome'
i = 'Idade'
c = 'Cursos'

identidade = {n: 'Prof. Alberto', i: 38, c: ['React', 'Python']} 
print(identidade)

#Alterar dados!

identidade[i] = 44
identidade[c].append('Angular')
print(identidade)

identidade.pop(n) #print o 'valor' e o retira do dicionário
print(identidade)

identidade.update({'Nome': 'Prof. Alberto', 'Sexo': ['Masculino', 'Feminino']})
print(identidade)

del identidade[c]
print(identidade)

identidade.clear()
print(identidade)

{'Nome': 'Prof. Alberto', 'Idade': 38, 'Cursos': ['React', 'Python']}
{'Nome': 'Prof. Alberto', 'Idade': 44, 'Cursos': ['React', 'Python', 'Angular']}
{'Idade': 44, 'Cursos': ['React', 'Python', 'Angular']}
{'Idade': 44, 'Cursos': ['React', 'Python', 'Angular'], 'Nome': 'Prof. Alberto', 'Sexo': ['Masculino', 'Feminino']}
{'Idade': 44, 'Nome': 'Prof. Alberto', 'Sexo': ['Masculino', 'Feminino']}
{}

# Conjunto

In [ ]:
"""
O conjunto funcina com {}, assim como o dicionário, porém ele trabalha
apenas com valores, semelhante à lista. O conjunto, diferente da lista, não
é indexado, ou seja, não tem índice. Além de que não aceita repetiçôes e 
quando se adiciona mais um valor, ele não é ordenado!
"""

In [248]:
a = {1, 2, 3}
print(a)

type(a)

#a[0] não tem índice!

a = set('codddd3a')
print(a)

#Não é ordenado e nem aceita repetição!

print('3' in a, 4 not in a)

{1, 2, 3} == {3, 2, 1, 3} #True, a ordem não importa e as duplicatas tmb n!

# operadores

c1 = {1, 2}
c2 = {2, 3}

print(c1.union(c2))
print(c1.intersection(c2))

c1.update(c2)
print(c1)

c1 = {1, 2}

c2 <= c1 # "c2 é subconjunto de c1?"

c1 >= c2 # "c1 é subconjunto de c2?"

print({1, 2, 3} - {2, 3}) #A diferença dos conjuntos

c1 = {1, 2, 3, 4}

c1 - c2

c1 -= {2}
c1

{1, 2, 3}
{'3', 'c', 'a', 'd', 'o'}
True True
{1, 2, 3}
{2}
{1, 2, 3}
{1}

{1, 3, 4}

# Interpolação

In [264]:
from string import Template

nome, idade = 'Ana', 30

"""
%s -> indica String.
%d -> indica Inteiro
%f -> indica tipo float
%r -> indica tipo booleano
"""

print('Nome: %s. Idade: %d %r %r' % (nome, idade, True, False))#antiga

idade = 30.964

print('Nome: {0}. Idade: {1:.2f}'.format(nome, idade))# python 3.6

print(f'Nome: {nome}. Idade {idade:.0f}, {256**1 + 1}')# mais nova

s = Template('Nome: $nome idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana. Idade: 30 True False
Nome: Ana. Idade: 30.96
Nome: Ana. Idade 31, 257
Nome: Ana idade: 30.964